@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">HKT</h1>
        <p class="lead">HKT là đơn vị chuyên bán vé và theo dõi các sự kiện</p>
    </section>
    <div class="card-group">
        <div class="card">
            <img src="~/Anh/comic.png" class="card-img-top" alt="Manga Comic Con" style="height: 250px">
            <div class="card-body d-flex flex-column align-items-center">
                <h5 class="card-title">Manga Comic Con</h5>
                <p class="card-text">99,000 Đ</p>
                <a href="#" class="btn btn-primary">Đặt vé</a>
            </div>
        </div>
        <div class="card">
            <img src="~/Anh/happy_bee.jpg" class="card-img-top" alt="Happy Bee" style="height: 250px">
            <div class="card-body d-flex flex-column align-items-center">
                <h5 class="card-title">Happy Bee</h5>
                <p class="card-text">120,000 Đ</p>
                <a href="#" class="btn btn-primary">Đặt vé</a>
            </div>
        </div>
        <div class="card">
            <img src="~/Anh/hobby-horizon.jpg" class="card-img-top" alt="Hobby Horizon" style="height: 250px">
            <div class="card-body d-flex flex-column align-items-center">
                <h5 class="card-title">Hobby Horizon</h5>
                <p class="card-text">200,000 Đ</p>
                <a href="#" class="btn btn-primary">Đặt vé</a>
            </div>
        </div>
    </div>
</main>