@model IEnumerable<WebApp.Models.SuKien>
@{
    ViewBag.Title = "Home Page";
}


<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">HKT</h1>
        <p class="lead">HKT là đơn vị chuyên bán vé và theo dõi các sự kiện.</p>
    </section>
</main>